* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
/* ------ body ------- */
body {
  background-color: rgb(252, 249, 249);
}
/* --------image-------- */
img {
  display: block; 
  width: 100%;
  object-fit: cover;
}
/* --------container-------- */
.container {
  max-width: 480px;
  margin: 0 auto;
  width: 95%;
}
/* --------header-------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.bg {
  height: 400px;
  background: url('https://images.pexels.com/photos/2531553/pexels-photo-2531553.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
}

.card {
  border-radius: 8px;
  margin: 1em auto;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(230, 233, 236);
  padding: 1em;
}

.card-desc {
  padding: 0 1em;
}

.card-img {
  position: relative;
  margin-bottom: 2em;
}

.card img {
  border-radius: 8px;
  aspect-ratio: 3/4;
  height: 210px;
}

.card .match {
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, rgb(82, 82, 220), rgb(188, 19, 157));
  color: #fff;
  border-radius: 100px;
  padding: 0.5em 2em;
  font-weight: bold;
}

.card p {
  color: #666;
}

/* card-matches */
.card-matches {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin: 1em 0;
}

.card-matches .card {
  margin: 0;
  padding: 0;
  border-radius: 16px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card-matches .card:hover {
  transform: translateY(-10px);
}

.card-matches img {
  border-radius: 16px;
}

.card-matches .card-desc p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.card-matches .card-desc {
  padding: 1em 0;
}

.card-matches .card h3 {
  margin-top: 0.5em;
}

.chats-group {
  margin: 1em auto;
  height: 90vh;
  overflow-y: scroll;
}

.chat {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.chat:hover {
  background: rgb(245, 241, 241);
}

.chat img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
}

.btn {
  background-color: #fff;
  border-radius: 100px;
  padding: 0.8em 1.6em;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: 0 0 30px rgb(230, 233, 236);
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-icon {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-icon:hover {
  transform: scale(1.1);
}

.btn-transparent {
  background-color: transparent;
  box-shadow: none;
}

.btn.btn-transparent .fa {
  color: #333 !important;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.btn-group .btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgb(212, 215, 225);
}

.btn-small {
  width: 40px;
  height: 48px;
}

.btn-big {
  width: 60px;
  height: 60px;
}

.btn .fa {
  display: inline-block !important;
  color: blue !important;
}

.fa.fa-star {
  color: yellow !important;
}

.fa.fa-heart {
  color: purple !important;
}

.fa.fa-close {
  color: #333 !important;
}

.footer {
  background-color: #fff;
  box-shadow: 0 0 20px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.footer .col {
  border-top: 4px solid transparent;
  padding: 1em;
  font-size: 14px;
  text-decoration: none;
  color: #333;
}

.footer .col.active {
  border-color: rgb(72, 59, 215);
}

.fa-search.fa-active {
  color: blue;
}

.intro {
  background-color: #fff;
  border-radius: 16px;
  padding: 1em 2em;
  position: relative;
  top: -60px;
  width: 90%;
  margin: 0 auto;
}

.intro .center {
  text-align: center;
  margin: 1em 0;
}

.intro .bagde {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  margin-bottom: 1.5em;
  background: linear-gradient(to right, rgb(82, 82, 220), rgb(188, 19, 157));
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
}

.intro i {
  display: block;
  color: #111;
}

.intro p:not(.center p) {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2em;
  color: #444;
  margin: 0.5em 0;
}

.btn-actions {
  position: relative;
  top: -30px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.btn-actions .btn {
  background: linear-gradient(to right, rgb(82, 82, 220), rgb(188, 19, 157));
  color: #fff;
  display: flex;
  gap: 6px;
}

.btn-actions .btn .fa {
  color: #fff !important;
}
